:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-second-color: #000000;
  --white-color: #ffffff;
  --background-hero-footer: #2f303a;
  --button-background: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-button-hover: #118ce8;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.logo {
  text-decoration: none;
}
.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Site nav*/

.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.list {
  list-style: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-list .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: var(--background-hero-footer);
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.features-title,
.works-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list .description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--button-background);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-title {
  color: var(--title-text-color);
}

.projects-list .link {
  text-decoration: none;
}

.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-list .description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--main-button-hover);
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--button-background);
  color: var(--title-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.footer {
  background-color: var(--background-hero-footer);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);
  text-decoration: none;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
